body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #050036;  
}

.game-container {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #050036;
}
.score-board {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

canvas {
    border: 5px solid #000;
    background-color: #70c5ce;
    display: block;
    position: absolute;
    top: 30%;
    left: 35%;
}